.brands-names-box {
  border: 5px solid;
  border-radius: 50%;
  padding: 15px;
}

.brands-images-img {
  width: 30px;
  height: 30px;
}
.hidden {
  display: none;
}
.open {
  height: 100vh;
}

.nav-toggle {
  display: none;
  position: absolute;
  top: 1.5rem;
  right: 1rem;
}
header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 1rem;
}

nav > div {
  display: inline-flex;
  text-align: center;
  padding: 1.5rem 0;
}
.font-parameters {
  color: black;
  text-decoration: none;
}
h1 {
  color: darkblue;
}

p {
  text-align: justify;
}

@media all and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  nav {
    height: 0;
    width: 100%;
    overflow: hidden;
    transition: 250ms height ease-in-out;
  }

  nav > div {
    display: block;
    text-align: center;
    padding: 1.5rem 0;
  }
  button > a {
    font-size: 1.4rem;
  }

  .nav-toggle {
    display: block;
  }
}
